@model BandMate.Models.Subscription
@{
    ViewBag.Title = "My BandMate Subscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>My BandMate Subscription</h2>

@Html.Partial("_AlertsPartial")

@if (Model != null)
{
    <h4>Subscription Details</h4>
    <p><strong>Subscription Type:</strong> @Model.SubscriptionType.Name</p>
    <p><strong>Subscription Price:</strong> @String.Format("{0:C2}", Model.SubscriptionType.Price)</p>
    <p><strong>Start Date:</strong> @String.Format("{0:MM/dd/yyyy}", Model.StartDate)</p>
    <p><strong>End Date:</strong> @String.Format("{0:MM/dd/yyyy}", Model.EndDate)</p>
    @:
        string autoRenewalStatus = "On";
    if (Model.AutoRenewal == false)
    {
        autoRenewalStatus = "Off";
    }
    <p><strong>Auto Renewal:</strong> @autoRenewalStatus</p>
        <p>
            @if (Model.AutoRenewal == false)
            {
                @Html.ActionLink("Subscribe to BandMate", "Create", "Subscription", null, new { @class = "btn btn-success" })
            }
            else
            {
                <a data-toggle="tooltip" data-placement="top" title="You Cannot Undo This!" class="btn btn-danger" href="@Url.Action("Cancel", "Subscription", new { subscriptionId = Model.SubscriptionId })"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Cancel Subscription</a>
            }
            @Html.ActionLink("Go To Dashboard", "Index", "Band", null, new { @class = "btn btn-primary" })
        </p>
}

