@model BandMate.Models.IndexViewModel
@{
    ViewBag.Title = "Account Settings";
}

<h2>Account Settings</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password</dt>
        <dd>
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword", null, new {@class="btn btn-primary" })
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword", null, new { @class = "btn btn-primary" })
            }
    </dl>
</div>
<hr />
<form action="/Manage/ChangeNotificationPreference" method="POST" class="form-horizontal">
    <div class="form-group">
        <div class="col-md-2">
            <p class="pull-right"><strong>Notification Preference</strong></p>
        </div>
        <div class="col-md-10">
            <div class="radio">
                <label>
                    <input type="radio" name="notificationPreference" id="email" value="1" > Email
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="notificationPreference" id="text" value="2"> Text
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-2">
            <p class="pull-right"><strong>Phone Number</strong></p>
        </div>
        <div class="col-sm-10">
            <input class="form-control" type="text" name="phoneNumber" value="@Model.PhoneNumber" />
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Save Notification Preference</button>
        </div>
    </div>
</form>
@section Scripts{
    <script type="text/javascript">
        $("document").ready(function () {
            let notificationPreferenceId = @Model.NotificationPreference.NotificationPreferenceId;
            if ( notificationPreferenceId == 2)//text
            {
                $("#text").prop('checked', true);
            }
            else{
                $("#email").prop('checked', true);
            }
        });

    </script>    
}
