@using BandMate.Models
@model BandMate.Models.Band
@{
    ViewBag.Title = Model.Name + "Store";
    Layout = "~/Views/Shared/_Layout-Store.cshtml";
}

<div class="row" style="margin-top: 40px;">
    <div class="col-md-6">
        <h1>@Model.Name Merch Store</h1>
    </div>
    @if (ViewBag.SpotifyUri != null)
    {
        <div class="col-md-6">
            <span class="pull-right">
                <iframe src="@ViewBag.SpotifyUri" frameborder="0" allowtransparency="true" width="400" height="80"></iframe>
            </span>
        </div>
    }
</div>

@if (Model.Store.Products.Count > 0)
{
    <hr />
    <h4>Current Products</h4>
    <div class="row">
        @foreach (Product product in Model.Store.Products)
        {
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="@product.ImageUrl" alt="@product.Name" title="@product.Name" height="332" width="332">
                    <div class="caption">
                        <h4 class="text-center">@product.Name</h4>
                        <h2 class="text-success text-center" style="margin-top: 0;">@String.Format("{0:C2}", product.Price)<br>
                            @if (product.QuantityAvailable <= 0)
                            {
                                <span class="text-danger"><strong>SOLD OUT!</strong></span>
                            }
                        </h2>
                        <p>@product.Description</p>
                        @if (product.ProductType.ProductTypeId == 2)//garment
                        {
                            <div class="form-group sizeSelector">
                                <select class="form-control sizeId">
                                    @foreach (Size size in product.Sizes)
                                    {
                                        if (size.QuantityAvailable > 0)
                                        {
                                            <option value="@size.Price" data-size-id="@size.SizeId" data-size-name="@size.Name">
                                                @size.Name
                                            @if (size.UpCharge > 0)
                                            {
                                                @String.Format("(add {0:C2})", size.UpCharge)
                                            }
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                            <center><button data-product-id="@product.ProductId" data-product-name="@product.Name" data-product-type-id="@product.ProductType.ProductTypeId" class="btn btn-success addToCart"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add To Cart</button></center>
                        }
                        else
                        {
                            <center><button data-price="@product.Price" data-product-id="@product.ProductId" data-product-name="@product.Name" data-product-type-id="@product.ProductType.ProductTypeId" class="btn btn-success addToCart"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add To Cart</button></center>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

    <!--Confirmation Modal-->
    <div class="modal fade" tabindex="-1" role="dialog" id="confirmationModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="confirmationTitle"><!--Title--></h4>
                </div>
                <div class="modal-body" id="confirmationBody"><!--Body--></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Continue Shopping</button>
                    <button type="button" class="btn btn-warning viewCartButton" data-dismiss="modal">View Cart</button>
                    <button type="button" class="btn btn-success checkoutButton" data-dismiss="modal">Proceed to Checkout</button>
                </div>
            </div>
        </div>
    </div>

    <!--Cart Modal-->
    <div class="modal fade" tabindex="-1" role="dialog" id="cartModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="cartTitle"><!--Title--></h4>
                </div>
                <div class="modal-body" id="cartBody"><!--Body--></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Continue Shopping</button>
                    <button type="button" class="btn btn-success checkoutButton" data-dismiss="modal">Proceed to Checkout</button>
                </div>
            </div>
        </div>
    </div>

}
@section Scripts{
    <script type="text/javascript">
        $("document").ready(function () {

            //set up cart
            let cartProducts = [];
            if ( (typeof $.cookie("cart-data")) !== 'undefined' ) {
                cartProducts = JSON.parse($.cookie("cart-data"));
                cartProducts = $.map(cartProducts, function (el) { return el });
                toggleCartCount(cartProducts.length);
            }

            //add to cart
            $(".addToCart").click(function () {
                let button = $(this);
                let productId = button.data("productId");
                let productName = button.data("productName");
                let productTypeId = button.data("productTypeId");
                let price;
                let sizeId;
                let sizeName;
                if (productTypeId == 1) {
                    price = button.data("price");
                    sizeId = null;
                    sizeName = null;
                }
                else {
                    let sizeSelector=button.parent().siblings(".sizeSelector").children(".sizeId");
                    price = sizeSelector.val();
                    price = parseFloat(price);
                    let sizeData = sizeSelector.children('option:selected').data();
                    sizeId = sizeData.sizeId;
                    sizeName = sizeData.sizeName;
                }
                let cartProduct = {
                    "ProductId": productId,
                    "ProductName": productName,
                    "ProductTypeId": productTypeId,
                    "Price": price,
                    "SizeId": sizeId,
                    "SizeName": sizeName,
                };
                cartProducts.push(cartProduct);
                toggleCartCount(cartProducts.length);
                $.cookie("cart-data", JSON.stringify(cartProducts));
                $("#confirmationTitle").html(productName + " Added to Cart");
                $("#confirmationBody").html(productName + " has been added to your cart. Please select an option below to continue.");
                $("#confirmationModal").modal();
            });

            //view cart
            $(".viewCartButton").click(function () {
                for (let i = 0; i < cartProducts.length; i++ ) {
                    $("#cartTitle").html('<span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Your Shopping Cart');
                    let cartHtml = getCartHtml(cartProducts);
                    $("#cartBody").html(cartHtml);
                    $("#cartModal").modal();
                }
            });

            //remove from cart
            $("#cartBody").on("click", ".removeFromCart", function () {
                let index = $(this).data("index");
                cartProducts.splice(index, 1);
                let cartHtml = getCartHtml(cartProducts);
                $("#cartBody").html(cartHtml);
                toggleCartCount(cartProducts.length);
            });

            function getCartHtml(cartProducts) {
                let cartHtml = '';
                cartHtml += '<table class="table table-striped table-condensed table-bordered">';
                cartHtml += '<tr><th class="col-md-6">Product Name</th><th>Size</th><th class="text-right">Price</th><th></th></tr>';
                let cartTotal = 0;
                for ( let i=0; i<cartProducts.length; i++ ) {
                    cartTotal += cartProducts[i].Price;
                    cartHtml += '<tr>';
                    cartHtml += '<td>'+ cartProducts[i].ProductName + '</td>';
                    let size="";
                    if (cartProducts[i].SizeName !== null) {
                        size = cartProducts[i].SizeName;
                    }
                    cartHtml += '<td>' + size + '</td>';
                    cartHtml += '<td class="text-right">$'+ cartProducts[i].Price + '</td>';
                    cartHtml += '<td><button data-index="' + i + '"class="btn btn-danger btn-xs removeFromCart"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Remove from Cart</button></td>';
                    cartHtml += '</tr>';
                }
                cartHtml += '<tfoot><tr><td colspan=3 class="text-right text-warning"><h4>TOTAL: $';
                cartHtml += cartTotal.toFixed(2);
                cartHtml += '</h4></td><td></td></tr></tfoot></table>';
                return cartHtml;
            }

            function toggleCartCount(cartProductsLength)
            {
                $("#cartCount").html(cartProducts.length);
                if (cartProductsLength > 0 ) {
                    $("#cartCount").css("background-color", "#f89406");
                    $("#cartButton").css("color", "#f89406");
                }
                else {
                    $("#cartCount").css("background-color", "#c8c8c8");
                    $("#cartButton").css("color", "#c8c8c8");
                }
            }

        });
    </script>    
}
