@using BandMate.Models
@model BandMate.Models.BandEventViewModel

@{
    ViewBag.Title = "Band Events";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">@Model.CurrentBand.Name Events</h3>
    </div>
    <div class="panel-body">
        <h4>Create New Event</h4>
        <form class="form-horizontal" action="/Event/Create" method="POST">
            <input type="hidden" name="bandId" value="@Model.CurrentBand.BandId" />

            <div class="form-group">
                <label class="control-label col-md-2">Date &amp; Time</label>
                <div class="col-md-10">
                    <div class="input-group date">
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                        <input type="text" class="form-control" name="eventDate" id="eventDate" placeholder="MM/DD/YYYY HH:MM AM" />
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Event Name</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" name="name" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Description</label>
                <div class="col-md-10">
                    <textarea class="form-control" rows="3" name="description"></textarea>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input id="submit" type="submit" value="Create Event" class="btn btn-primary" />
                </div>
            </div>

        </form>
        <hr />
        <p class="text-info text-center" style="margin-top: 20px;">Click each day to send event reminders.<br />Click each event for details and to edit/delete event.</p>
        <div id='calendar'></div>
    </div>
</div>
<!--event details modal-->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="eventModalTitle"></h4>
            </div>
            <div class="modal-body" id="eventModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" id="eventEditButton"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit Event</button>
                <button type="button" class="btn btn-danger" id="eventDeleteButton" data-toggle="tooltip" data-placement="top" title="You Cannot Undo This!"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete Event</button>
            </div>
        </div>
    </div>
</div>

<!--day agenda view modal-->
<div class="modal fade" id="dayModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body" id="dayModalBody"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" id="eventReminderButton" data-toggle="tooltip" data-placement="top" title="Send Daily Itinerary to All Band Members"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send Reminders</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script type="text/javascript">
    $(document).ready(function () {
        let eventsJson = @Html.Raw(HttpUtility.HtmlDecode(Model.EventsJson));
        //console.log(eventsJson);
        $('#calendar').fullCalendar({
            events: eventsJson,
            dayClick: function(date, jsEvent, view) {
                $('#eventReminderButton').attr('data-eventDate', date.format());
                $('#eventReminderButton').attr('data-bandId', @Model.CurrentBand.BandId);
                $('#dayModalBody').fullCalendar({
                    events: eventsJson,
                    defaultDate: date.format(),
                    defaultView: "basicDay",
                    header: {
                        center: '',
                        right:  ''
                    }
                });
                $('#dayModal').modal();
                console.log('Clicked on: ' + date.format());
            },
            header : {
                right:  'today month,agendaWeek,agendaDay, prev,next,'
            },
            eventClick: function(calEvent, jsEvent, view) {
                //console.log(calEvent);
                $("#eventModalTitle").html(calEvent.title);
                let eventHtml = getEventHtml(calEvent);
                $("#eventModalBody").html(eventHtml);
                $('#eventEditButton, #eventDeleteButton').attr('data-eventId', calEvent.id);
                $('#eventModal').modal();
                //alert('Event Name: ' + calEvent.title + '\nEvent Id: ' + calEvent.id);
            },
            eventMouseover: function(calEvent, jsEvent, view) {
                //alert('Event Description: ' + calEvent.description);
            }
        });

        //Get event Html
        function getEventHtml(calEvent)
        {
            let eventHtml = '<p><strong>Event Date/Time:</strong><br />' + calEvent.start.format('MM/DD/YYYY hh:mm A'); + '</p>';
            eventHtml += '<p><strong>Details:</strong><br />' + calEvent.description + '</p>';
            return eventHtml;
        }

        //Edit event
        $("#eventModal").on("click", "#eventEditButton", function(){
            let button = $(this);
            let eventId = button.attr("data-eventId");
            let bandId = @Model.CurrentBand.BandId;
            window.location = '/Event/Edit?eventId='+eventId+'&bandId='+bandId;
        });

        //Delete event
        $("#eventModal").on("click", "#eventDeleteButton", function(){
            let button = $(this);
            let eventId = button.attr("data-eventId");
            let bandId = @Model.CurrentBand.BandId;
            window.location = '/Event/Delete?eventId='+eventId+'&bandId='+bandId;
        });

        //Send event reminders
        $("#dayModal").on("click", "#eventReminderButton", function(){
            let button = $(this);
            let eventDate = button.attr("data-eventDate");
            let bandId = button.attr("data-bandId");
            window.location = '/Event/SendReminders?eventDate='+eventDate+'&bandId='+bandId;
        });
    });
</script>
}