@using BandMate.Models
@model BandMate.Models.BandStoreViewModel

@{
    ViewBag.Title = "Band Store";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading clearfix">
        <h3 class="panel-title pull-left">@Model.CurrentBand.Name Store</h3>
    </div>
    <div class="panel-body">
        <a class="btn btn-s btn-primary" href="@Url.Action("Create", "Product", new { bandId = Model.CurrentBand.BandId })"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add New Product</a>
        <a target="_blank" class="btn btn-s btn-success" href="@Url.Action("Index", "Store", new { bandName = Model.CurrentBand.Name })"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> View Your Store</a>
        @if (Model.CurrentBandProducts.Count > 0)
        {
            <hr />
            <h4>Current Products</h4>
            <div class="row">
                @foreach (Product product in Model.CurrentBandProducts)
                {
                    <div class="col-sm-6 col-md-4">
                        <div class="thumbnail">
                            <img src="@product.ImageUrl" alt="@product.Name" title="@product.Name" height="300" width="300">
                            <div class="caption">
                                <h4>@product.Name</h4>
                                <p class="text-success"><strong>Price: </strong>@String.Format("{0:C2}", product.Price)<br>
                                @if (product.QuantityAvailable <= 0)
                                {
                                    <span class="text-danger"><strong>SOLD OUT!</strong></span>
                                }
                                else
                                {
                                    <span class="text-info"><strong>Quantity Available: </strong>@product.QuantityAvailable</span>
                                }
                                </p>
                                <p>@product.Description</p>
                                <div class="btn-group btn-group-justified" role="group">
                                    <div class="btn-group">
                                        <a class="btn btn-info btn-sm" href="@Url.Action("Edit", "Product", new { productId = product.ProductId, bandId = Model.CurrentBand.BandId })"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Edit</a>
                                    </div>
                                    <div class="btn-group">
                                        <a data-toggle="tooltip" data-placement="top" title="You Cannot Undo This!" class="btn btn-danger btn-sm" href="@Url.Action("Delete", "Product", new { productId = product.ProductId, bandId = Model.CurrentBand.BandId })"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</a>
                                    </div>
                                </div>
                                <p style="margin-bottom: 0;">
                                    <a class="btn btn-warning btn-sm btn-block" href="@Url.Action("ManageInventory", "Product", new { productId = product.ProductId, bandId = Model.CurrentBand.BandId })"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Manage Inventory</a>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>
